<?xml version="1.0"?>
<config>
    <modules>
        <Luna_Github>
            <version>1.0.0</version>
        </Luna_Github>
    </modules>
    <frontend>
        <routers>
            <github>
                <use>standard</use>
                <args>
                    <module>Luna_Github</module>
                    <frontName>github</frontName>
                </args>
            </github>
        </routers>
    </frontend>
    <global>
        <helpers>
            <github>
                <class>Luna_Github_Helper</class>
            </github>
            <github_repositories>
                <class>Luna_Github_Helper_Repositories</class>
            </github_repositories>
        </helpers>
        <models>
            <github>
                <class>Luna_Github_Model</class>
            </github>
        </models>
        <resources>
            <luna_github_setup>
                <setup>
                    <module>Luna_Github</module>
                </setup>
            </luna_github_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Luna_Github>
                    <files>
                        <default>Luna_Github.csv</default>
                    </files>
                </Luna_Github>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <github>
                                            <title>Store Github Module Section</title>
                                        </github>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
