<?xml version="1.0"?>
<config>
    <modules>
        <Luna_Github>
            <version>1.0.1</version>
        </Luna_Github>
    </modules>
    <frontend>
        <routers>
            <luna_github>
                <use>standard</use>
                <args>
                    <module>Luna_Github</module>
                    <frontName>github</frontName>
                </args>
            </luna_github>
        </routers>
        <layout>
            <updates>
                <luna_github>
                    <file>luna/github.xml</file>
                </luna_github>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <luna_github before="Mage_Adminhtml">Luna_Github_Adminhtml</luna_github>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <luna_github>
                <class>Luna_Github_Block</class>
            </luna_github>
        </blocks>
        <helpers>
            <luna_github>
                <class>Luna_Github_Helper</class>
            </luna_github>
            <github_repositories>
                <class>Luna_Github_Helper_Repositories</class>
            </github_repositories>
        </helpers>
        <models>
            <luna_github>
                <class>Luna_Github_Model</class>
                <resourceModel>luna_github_resource</resourceModel>
            </luna_github>
            <luna_github_resource>
                <class>Luna_Github_Model_Resource</class>
                <entities>
                    <log_request>
                        <table>github_log_request</table>
                    </log_request>
                </entities>
            </luna_github_resource>
        </models>
        <resources>
            <luna_github_setup>
                <setup>
                    <module>Luna_Github</module>
                </setup>
            </luna_github_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Luna_Github>
                    <file>luna_github.xml</file>
                </Luna_Github>
            </updates>
        </layout>
        <translate>
            <modules>
                <Luna_Github>
                    <files>
                        <default>Luna_Github.csv</default>
                    </files>
                </Luna_Github>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <github>
                                            <title>Store Github Module Section</title>
                                        </github>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
